/* *****DEFAULT VALUES ***** */

:root {
  --content-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

/* ***** HEADER AND NAVIGATION ***** */

header {
  position: sticky;
  top: 0;
  padding-top: 0.25em;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.logo img {
  position: relative;
  width: 30vw;
  height: auto;
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  filter: blur(10px);
}

/* Navigation */
nav {
  background-color: white;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0 solid var(--content-color);
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 0px 10px;
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
}
.active {
  transform: translateX(0%);
}

.nav-list {
  list-style-type: none;
}
.nav-list a {
  text-decoration: none;
  color: inherit;
}

/* Adidas Yeezy Logo */
.nav-logo {
  width: 30vw;
  height: auto;
}

/* Middle Navigation */
.nav-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.search-cont {
  margin-bottom: 1rem;
}
.nav-middle li {
  margin: 1rem;
}

/* Right Navigation */
.nav-right ul {
  display: flex;
  justify-content: space-between;
}

/* ***** MAIN PAGE ***** */

/* Main Product Image */

.product-info div{
  font-weight: bold;
}

.tone-1 {
  text-align: center;
  margin: 2em;
}

.tone-2 img {
  width: 100%;
  height: auto;
}

/* Shoe Gallery */
.shoe-gallery {
  margin: 2em;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
}

.shoe-gallery img {
  border: 0 solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.shoe-gallery img:hover {
  transform: scale(1.1);
}

/* Price and Cart Buttons */

.info-bins {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.info-bins a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  background-color: var(--content-color);
  justify-content: space-between;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 10px;
  color: white;
}

/* ***** FOOTER ***** */

footer {
  margin-top: 2em;
  padding: 1em;
  background-color: var(--content-color);
  color: white;
  text-align: center;
}

.footer-pages {
  display: flex;
  justify-content: space-evenly;
}

.footer-pages a {
  text-decoration: none;
  color: white;
  line-height: 2em;
}
footer a:hover {
  color: yellow;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links a {
  color: white;
}

.copyright {
  font-size: 0.7em;
}

/* ***** MEDIA QUERIES ***** */

@media (min-width: 600px) {
  .product-info div {
    font-size: 1.5em;
  }
}

@media (min-width: 850px) {
  .product-info div {
    font-size: 2em;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    transform: translateX(0);
    width: auto;
    height: 60%;
    top:25%;
    right: 1em;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0;
  }
  .gg-menu-motion {
    display: none;
  }
  .nav-logo {
    display: none;
  }
  .gg-close {
    display: none;
  }
  .logo {
    display: inline;
  }
  .logo img{
    width:20vw;
  }
  .nav-middle {
    flex-direction: row;
    float: left;
  }
  .nav-middle li {
    float: left;
    margin: 0 1em;
  }
  .nav-right{
    display: inline-block;
  }
  .nav-right li{
    padding-left: 1em;
  }
  .search-cont{
    display: inline;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  * {
    font-size: 22px;
  }
}
